img {
    display: block;
    max-width: 100%;
    height: auto;
    
  }
  
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid, whitesmoke;
    
  }

  html {
    font-family: tahoma;
    font-size: 1.3em;
    border: solid, whitesmoke;
  
  }


  * {
    background-color: black;
    color:whitesmoke;
    
  }

  hr {
    color:aquamarine;
  }